*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #f1f1f6;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}
.box1,.box2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.box1 {
    background: #262c31;
    font-size: x-large;
    color: #f1f1f6;
}
.box2 {
    background: white;
}
.out-box {
    background: rgb(49, 48, 48);
    height: 320px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25%;
}
.in-box{
    background-color: black;
    height: 280px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 25%;
    align-items: center;
}
.sms {
    height: 200px;
    width: 220px;
    border-radius: 20%;
    background-color: white;
    position: relative;
    bottom: 10px;
}
label,hr{
    color: #665c5c;
    margin: 15px;
}
label{
    cursor: pointer;
}
#span-time {
    position: relative;
    bottom: 11px;
    font-size: small;
}
.sms-box {
    position: relative;
    top: 25px;
    right: 10px;
}
.icons {
    display: flex;
    width: 200px;
    justify-content: space-around;
    font-size: xx-large;
}
.fa-music,.fa-clock {
    color: gray;
}